<%- include('partials/header'); -%>
<% const checkout = typeof window !== 'undefined' ? localStorage.getItem('loggedIN') : null %>
<!--<% if (localStorage.getItem("loggedIn") === "true") { %>
    <h1>Witaj na stronie głównej</h1>-->
<% } else { %>
    <h1>Nie jesteś zalogowany</h1>
    <a href="/">Powrót do strony logowania</a>
<% } %>

<!--
</head>
<body>
<form id="loginForm">
    <label for="username"> Username: </label>
    <br>
    <input type="text" id="username" name="username">
    <br>
    <label for="password"> Password: </label>
    <br>
    <input type="password" id="password" name="password">
    <br><br>
    <button type="submit" onclick="login()">Log in</button>
</form>

</body>
</html>-->
